<section id="about-me" class="about-me">
  <div class="container">
    <div class="aboutme-container">
      <h2 class="visually-hidden">About Me</h2>
      <div class="aboutme-text-container aboutme-width-container">
        <h3 class="aboutme-textcontainer-header">
          <span class="aboutme-functional"
            >Розкриваю твою красу через мистецтво макіяжу.
          </span>
          <br />
          Я створюю образи, які підкреслюють твою індивідуальність та додають
          впевненості. Кожен макіяж — це не просто косметика, це мистецтво, яке
          дарує емоції та неповторні моменти.
          <span class="aboutme-websites"
            >Дозволь мені допомогти тобі виглядати бездоганно в будь-який
            день!</span
          >
        </h3>
      </div>
      <div class="aboutme-image-container aboutme-width-container">
        <img class="aboutme-image" src="./img/about_me/photo.jpg" alt="man" />
      </div>
    </div>

    <ul class="accordion-container">
      <li class="ac aboutme-ac js-enabled is-active">
        <h2 class="ac-header aboutme-ac-header">
          <button type="button" class="ac-trigger aboutme-ac-trigger">
            ПРО МЕНЕ
            <svg width="9px" height="4.5px" class="aboutme-accordeon-svg">
              <use
                href="./img/icons.svg#icon-accordeon_mobile_opened_svg-min"
              ></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel aboutme-ac-panel">
          <p class="ac-text aboutme-ac-text first-p-aboutme">
            Я – Єлизавета Подиряко, професійна візажистка з великим досвідом та
            пристрастю до мистецтва макіяжу. Володію широким спектром технік –
            від класичних до авангардних, що дозволяє створювати образи для
            будь-якого випадку, від весільного до подіумного макіяжу. Постійно
            вдосконалюю свої знання, відвідуючи майстер-класи, тренінги, а також
            стежу за останніми світовими тенденціями та інноваціями в індустрії
            краси.
          </p>
          <p class="ac-text aboutme-ac-text">
            Моя робота базується на індивідуальному підході: я вмію підкреслити
            унікальні риси кожного клієнта, обираючи саме ті відтінки та
            техніки, що найкраще розкриють їх природну красу. Я завжди у пошуку
            творчих рішень та прагну створювати гармонійні образи, які не лише
            відповідають зовнішньому вигляду, але й підкреслюють особистість
            людини. Високий рівень професіоналізму та аналітичні здібності
            допомагають мені ефективно вирішувати будь-які завдання, незалежно
            від складності. Я переконана, що макіяж – це більше, ніж просто
            косметика, це спосіб самовираження та інструмент для підвищення
            впевненості у собі.
          </p>
          <h2 class="aboutme-ac-devis">
            Мій девіз – краса в деталях, а кожен образ – <br />це маленьке
            мистецтво, яке я створюю з душею.
          </h2>
        </div>
      </li>

      <li class="ac aboutme-ac">
        <h2 class="ac-header aboutme-ac-header">
          <button type="button" class="ac-trigger aboutme-ac-trigger">
            НАВИЧКИ/ЗАХОПЛЕННЯ
            <svg width="9px" height="4.5px" class="aboutme-accordeon-svg">
              <use href="./img/icons.svg#icon-accordeon_svg_mobile-min"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel aboutme-ac-panel">
          <div class="ac-text aboutme-ac-text">
            <p>Володіння техніками макіяжу</p>
            <p>Колористика</p>
            <p>Знання косметичних продуктів</p>
            <p>Гігієна та догляд за інструментами</p>
            <p>Індивідуальний підхід до клієнта</p>
            <p>Техніки нанесення гриму та спеціального макіяжу</p>
            <p>Креативність та відчуття стилю</p>
            <p>Комунікабельність та стресостійкість</p>
          </div>
        </div>
      </li>

      <li class="ac aboutme-ac">
        <h2 class="ac-header aboutme-ac-header">
          <button type="button" class="ac-trigger aboutme-ac-trigger">
            НАВЧАННЯ
            <svg width="9px" height="4.5px" class="aboutme-accordeon-svg">
              <use href="./img/icons.svg#icon-accordeon_svg_mobile-min"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel aboutme-ac-panel">
          <div class="ac-text aboutme-ac-text">
            <p>
              2019 - 2023 / Вінницький державний педагогічний університет /
              Вінниця
            </p>
            <p>
              2023 - 2024 / Курси (майстер-класи) візажистів від неповторної
              <a
                class="instagram"
                href="https://www.instagram.com/olyaa.makeup/profilecard/?igsh=MXB2a2hlcXlnZjB4"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                @olyaa.makeup</a
              >
            </p>
          </div>
        </div>
      </li>
    </ul>

    <div class="about-swipe">
      <div class="swiper-container aboutme-swiper-container">
        <ul class="swiper-wrapper aboutme-swiper-wrapper">
          <!-- <li class="swiper-slide aboutme-swiper-slide">Мистецтво макіяжу</li> -->
          <li class="swiper-slide aboutme-swiper-slide">Колористика</li>
          <li class="swiper-slide aboutme-swiper-slide">Типи шкіри</li>
          <li class="swiper-slide aboutme-swiper-slide">Корекція</li>
          <li class="swiper-slide aboutme-swiper-slide">Контуринг</li>
          <li class="swiper-slide aboutme-swiper-slide">Комунікація</li>
          <li class="swiper-slide aboutme-swiper-slide">Гігієна</li>
          <li class="swiper-slide aboutme-swiper-slide">Дезинфекція</li>
        </ul>

        <div class="swiper-button-next about-me-button">
          <svg width="21px" height="16px" class="swiper-svg">
            <use href="./img/icons.svg#icon-Union"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
