<section id="benefits" class="benefits">
  <div class="container bnf-container">
    <div class="bnf-title-container">
      <h2 class="bnf-title">ПЕРЕВАГИ РОБОТИ ЗІ МНОЮ</h2>
    </div>
    <div class="bnf-text-container">
      <ul class="bnf-list">
        <li class="bnf-item">
          <div class="bnf-svg-wrap">
            <svg class="bnf-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-user-01" />
            </svg>
          </div>
          <h3 class="bnf-subtitle">ДОСВІД</h3>
          <p class="bnf-text">
            Мій досвід як візажистки охоплює створення унікальних образів для
            весіль, фотосесій та модних показів. Працюючи з різною шкірою та
            віком моїх клієнтів, я впевнено можу сказати, що готова до нових
            викликів
          </p>
        </li>
        <li class="bnf-item">
          <div class="bnf-svg-wrap">
            <svg class="ben-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-message-chat-circle" />
            </svg>
          </div>
          <h3 class="bnf-subtitle">КОМУНІКАЦІЯ</h3>
          <p class="bnf-text">
            Розуміння ваших потреб і побажань є моїм пріоритетом, і я завжди
            відкрита до дискусій і коригувань.
          </p>
        </li>
        <li class="bnf-item">
          <div class="bnf-svg-wrap">
            <svg class="ben-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-brush-01" />
            </svg>
          </div>
          <h3 class="bnf-subtitle">ЯКІСТЬ</h3>
          <p class="bnf-text">
            Моя мета – не просто зробити макіяж, а створити витончений образ,
            який буде стійким і підкреслить вашу природну красу. Кожна деталь
            має значення, і я докладаю максимум зусиль, щоб ви відчували себе
            впевнено та комфортно.
          </p>
        </li>
        <li class="bnf-item">
          <div class="bnf-svg-wrap">
            <svg class="ben-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-hourglass-02" />
            </svg>
          </div>
          <h3 class="bnf-subtitle">ШВИДКІСТЬ</h3>
          <p class="bnf-text">
            Я ціную ваш час, тому працюю швидко й ефективно, без втрати якості.
            Завдяки відточеним технікам та досвіду, я створюю бездоганний образ
            у стислий термін, щоб ви могли насолоджуватися результатом без
            зайвого очікування.
          </p>
        </li>
      </ul>
      <a href="#footer" class="bnf-button">Консультація</a>
    </div>
  </div>
</section>
