<section class="covers covers-section section" id="covers">
  <h2 class="visually-hidden">Covers</h2>
  <div class="content-covers">
    <ul class="marquee-inner">
      <li class="marquee">
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-1.jpg"
              alt="make-up"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <img
            class="covers-image"
            src="./img/covers/covers-2.jpg"
            alt="transforming-your-body"
            width="282"
            loading="lazy"
          />
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-3.jpg"
              alt="mimino"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-4.jpg"
              alt="make-up"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="marquee">
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-5.jpg"
              alt="ukrainian-artistry"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-6.jpg"
              alt="finances-masterfully"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-7.jpg"
              alt="turn-your-business"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-8.jpg"
              alt="ukrainian-artistry"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="marquee">
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-9.jpg"
              alt="fresh-box"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-10.jpg"
              alt="organic-vegetables"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-11.jpg"
              alt="stay-healthy"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-12.jpg"
              alt="fresh-box"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="marquee">
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-14.jpg"
              alt="turn-your-business"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-15.jpg"
              alt="discover"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-16.jpg"
              alt="make-up"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="" target="_blank" class="marquee__line">
          <picture>
            <img
              class="covers-image"
              src="./img/covers/covers-17.jpg"
              alt="transforming-your-body"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
