<section id="faq" class="faq">
  <div class="container">
    <h2 class="faq-title">НАЙЧАСТІШІ ЗАПИТАННЯ</h2>
    <ul class="faq-accordion-container">
      <li class="ac faq-item">
        <h3 class="ac-header faq-subtitle">
          <button type="button" class="ac-trigger faq-trigger">
            Як довго триматиметься макіяж?
          </button>
        </h3>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Макіяж може триматися від 6 до 12 годин залежно від типу шкіри,
            використовуваних засобів та умов (наприклад, вологості або тепла).
            Для довготривалого ефекту важливо використовувати професійні бази та
            фіксуючі спреї.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h3 class="ac-header faq-subtitle">
          <button type="button" class="ac-trigger faq-trigger">
            Які продукти найкраще підходять для чутливої шкіри?
          </button>
        </h3>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Для чутливої шкіри рекомендую використовувати гіпоалергенні та
            некомедогенні продукти. Важливо також обирати засоби без
            ароматизаторів та спирту.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h3 class="ac-header faq-subtitle">
          <button type="button" class="ac-trigger faq-trigger">
            Чи можна зробити макіяж на короткій вечірці?
          </button>
        </h3>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Звичайно! Для вечірки можна зробити макіяж, що підкреслить ваші
            найкращі риси, з акцентом на очі або губи, залежно від вашого стилю
            та настрою.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h3 class="ac-header faq-subtitle">
          <button type="button" class="ac-trigger faq-trigger">
            Як підготувати шкіру до макіяжу?
          </button>
        </h3>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Шкіра повинна бути очищена, зволожена та захищена. Використання
            праймера допоможе створити ідеальну основу для макіяжу, що ляже
            рівно та триматиметься довше.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h3 class="ac-header faq-subtitle">
          <button type="button" class="ac-trigger faq-trigger">
            Як звязатись з вами/де знайти контактні дані
          </button>
        </h3>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Мої контактні дані написані в кіці сайту
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h3 class="ac-header faq-subtitle">
          <button type="button" class="ac-trigger faq-trigger">
            Як вибрати правильний тон фонду для шкіри?
          </button>
        </h3>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Для вибору правильного тону фонду важливо тестувати його на лінії
            щелепи або на шії при природному освітленні. Тон повинен бути
            максимально близьким до природного кольору вашої шкіри, щоб макіяж
            виглядав природно і не виділявся.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
