<section id="hero" class="hero">
  <div class="container hero-container">
    <h1 class="hello-headline">
      Привіт<br />Вітаю на моєму сайті.<br />Я майстер-візажист - Єлизавета
      Подиряко.
    </h1>
    <div class="glory">
      <p>Слава <span class="hero-part">Україні</span></p>
      <p><span class="hero-part">Героям</span> Слава</p>
    </div>

    <ul class="social-links">
      <li class="social-link-item">
        <a
          href="https://www.instagram.com/_liza_podyriako/"
          class="social-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          IG
        </a>
      </li>

      <li class="social-link-item">
        <a
          href="https://www.facebook.com/profile.php?id=100051392564748"
          class="social-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          FB
        </a>
      </li>
      <!-- <li class="social-link-item">
        <a
          href="https://github.com/"
          class="social-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          GH
        </a>
      </li> -->
      <li class="social-link-item">
        <a
          href="mailto:soloshenkoliza2003@gmail.com"
          class="social-link email"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          soloshenkoliza2003@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
