.hero {
  color: var(--wht);
  height: 812px;
  background-image: url('../img/hero/hero-mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Зображення покриває весь блок */
  /* backdrop-filter: blur(10px); */
  filter: contrast(1.2);
  padding-bottom: 32px;
  padding-top: 200px;
}

/* Псевдоелемент для затемнення і розмиття */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  /* Наслідує фонові зображення */
  filter: blur(100px);
  /* Розмиття фону */
  z-index: 1;
  /* Псевдоелемент знаходиться під контентом */
}

.hero-container {
  position: relative;
  z-index: 2;
  /* Контент знаходиться вище за псевдоелемент */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hello-headline {
  color: rgb(245, 11, 11);
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.glory {
  font-weight: 800;
  font-size: 25px;
  color: blue;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.hero-part {
  font-weight: 800;
  font-size: 25px;
  color: yellow;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 0;
  padding-right: 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: center;
  gap: 4px;
}

.social-link-item {

  pointer-events: auto;
  /* z-index: 10; */
}

.social-link {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100%;
  text-align: center;
  /* width: 40px;
  height: 37px; */
  padding: 10px 12px;
  transition: background-color 150ms ease, transform 150ms ease,
    box-shadow 0.4s ease, border 0.4s ease;
}

.social-link:hover {
  background-color: aquamarine;
  color: #fa0c0c;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(250, 250, 250, 0.6);
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.email {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    max-width: 100%;
  }

  .social-links {
    font-weight: 400;
    font-size: 12px;
    gap: 1px;
  }

  .social-link {
    height: 33px;
    width: 33px;
  }

  .email {
    width: 100%;
    padding: 0 4px;
  }

  .hero {
    backdrop-filter: blur(10px);
    /* Розмиття на мобільних версіях */
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 1024px;
    background-image: url('../img/hero/hero.jpg');
    padding-top: 250px;
  }

  .hero-container {
    align-items: center;
  }

  .hello-headline {
    font-size: 90px;
  }

  .glory {
    width: 100%;
    padding-top: 15px;
  }

  .social-links {
    z-index: 5;
    font-size: 16px;
    gap: 8px;
    align-self: flex-end;
  }

  .social-link-item {
    width: auto;
  }

  .social-link {
    font-size: 20px;
    width: 55px;
    height: 55px;
  }

  .email {
    font-size: 20px;
    width: 250px;
  }

  .hero {
    backdrop-filter: blur(15px);
    /* Збільшуємо ефект розмиття на планшетах */
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    height: 900px;
    background-image: url('../img/hero/hero.jpg');
    backdrop-filter: blur(10px);
    /* Збільшуємо ефект розмиття на десктопах */
  }

  .glory {
    width: 70%;
    font-size: 50px;
  }

  .hero-part {
    font-size: 50px;
  }

  .hello-headline {
    width: 1084px;
  }
}